@import font_declaration

$font_size: 16px
$header_col: #99F
$header_col_dark: $header_col - #555
$transition_t: .35s

ul
	list-style: none
	height: 0
	margin: 0
	padding: 0

body
	font-size: $font_size
	font-family: Arial
	margin: 0
	padding: 0
	background-color: #DDD

main
	width: 100%
	height: 2000px
	background-color: #E9E9E9
	z-index: 1

	@media screen and (min-width: 920px)
		width: 900px
		margin: 0 auto
		box-shadow: 0 0 2em #999

	header
		width: 100%
		background-color: $header_col
		overflow: auto
		position: relative
		font-family: Montserrat

		.sup_navigation

			li
				display: block
				float: left
				padding: 0 1em
				height: $font_size * 4
				box-sizing: border-box
				border-bottom: 3px solid $header_col
				transition: color $transition_t, background-color $transition_t, border-bottom $transition_t
			
				span
					color: $header_col_dark
					display: block
					margin: 0
					position: relative
					top: $font_size * 2
					margin: -.7rem 0 0 0

			li:hover
				color: $header_col_dark - #111
				background-color: $header_col - #111
				border-bottom: 3px solid $header_col_dark
				cursor: pointer

		button
			position: relative
			top: $font_size * 2
			font-weight: bold
			float: right
			height: 2rem
			border-radius: .3rem
			color: $header_col_dark
			border: 2px solid $header_col_dark
			background: none
			margin: ( -2rem / 2 ) 2rem 0 0
			transition: color $transition_t, background-color $transition_t

		button:hover
			cursor: pointer
			color: $header_col
			background-color: $header_col_dark

.login_screen
	display: block
	position: fixed
	width: 100%
	height: 100%
	z-index: 2
	background-color: rgba( 0, 0, 0, 0.6 )

	.login_box
		position: relative
		width: 300px
		height: auto
		padding-bottom: 1em
		margin: 0 auto
		margin-top: -100px
		top: 50%
		left: 0%
		background-color: #EEE
		border-radius: 5px
		box-shadow: 0 0 10px rgba( 0, 0, 0, 0.5 )
		font-family: Montserrat

		span
			display: block
			position: relative
			top: 1em
			font-weight: bold
			text-align: center

		.input_container:nth-child(1)
			margin-top: 3em

		.input_container
			text-align: center
			margin: 0 auto
			margin-top: 1.5em

			label
				margin: 0
				padding: 0 .3em
	
			input
				border: 1px solid #C9C9C9
				padding: 0 .3rem
				margin: 0
				background-color: #DDD
				height: 2em

		.submit_button
			font-weight: bold
			height: 2em
			color: #222
			display: block
			margin: 0 auto
			margin-top: 1.5em
			border: 2px solid #222
			border-radius: .3em
			cursor: pointer
			transition: color $transition_t, background-color $transition_t

		.submit_button:hover
			color: #EEE
			background-color: #222

		.submit_button:active
			position: relative
			padding: 0 6px
			top: .1em
			left: .1em


.space
	margin-left: 4px

::-moz-focus-inner
	border: 0

.hidden
	display: none
	opacity: 0