<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/css2.css">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
  <title>TEST</title>
</head>
<body>
  <main>
    <div class="postit">
      <div class="inputdiv" contenteditable role="textbox" aria-multiline="true"></div>
      <div class="button_container">
        <button><i class="fa fa-check fa-2x"></i></button>
      </div>
    </div>
  </main>
</body>
</html>