<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
  <title>Main Page</title>
</head>
<body>

  <div id="target" class="login_screen hidden">
    
    <div class="login_box">
      
      <span>LOGIN</span>

      <form method="post" action="/login" >
        <div class="input_container">
          <label for="user_input"><i class="fa fa-user"></i></label>
          <input id="user_input" type="text" name="user_login_input"/>
          <div class="login_tip">Tu nombre de usuario debe tener entre 4 y 10 carácteres y sólo puede contener letras, números y barras bajas.</div>
        </div>
        <div class="input_container">
          <label for="password_input"><i class="fa fa-key"></i></label>
          <input id="password_input" type="password" name="password_login_input"/>
        </div>
        <input class="submit_button" type="submit" value="ENTER">
      </form>

      <!-- <button>ENTER</button> -->

    </div>

  </div>

  <main>
    
    <header>

      <nav class="sup_navigation">
        <ul>
          <li class="menu_item send_publication"><span>Enviar</span></li>
          <li class="menu_item"><span>Moderar</span></li>
          <li class="menu_item"><span>Aleatorio</span></li>
        </ul>
      </nav>

      <button class="login_button">
        <span>LOGIN</span>
        <i class="fa fa-user space"></i>
      </button>

    </header>
    
    <div class="send_container">
      <form>
        <div class="send_box_top">
          <label for="hate_text">¿Qué se cuece?</label>
          <textarea name="hate_text" id="" rows="5"></textarea>
        </div>
        <div class="send_box_medium">
          <label for="gender_selector">¿Que eres?</label>
          <select name="gender_selector" id="">
            <option value="male">Hombre</option>
            <option value="female">Mujer</option>
            <option value="alien">Alien</option>
          </select>
          <label for="tag_selector">Selecciona de 1 a 3:</label>
          <select name="tag_selector" id="tag_selector">
            <option value="">Amor</option>
            <option value="">Dinero</option>
            <option value="">Estudios</option>
            <option value="">Familia</option>
            <option value="">Política</option>
            <option value="">Tecnología</option>
            <option value="">Sexo</option>
            <option value="">Trabajo</option>
            <option value="">Televisión</option>
            <option value="">Salud</option>
          </select>
          <div class="tag_viewer">

          </div>
        </div>
        <div class="send_box_bottom">
          <input type="submit" value="SEND"></input>
        </div>
      </form>
    </div>

    <section id="blog_posts">
      {% for i in 0..10 %}
      <article class="post">
        <div class="post_header">
          <span class="tag"><div class="tag_graphic"></div><span class="tag_content">Humor</span></span>
          <span class="tag"><div class="tag_graphic"></div><span class="tag_content">Caca</span></span>
          <span class="user_name">Mike</span>
          <span class="post_date">20/12/14, 14:24</span>
        </div>
        <div class="post_content">
          <p>Hola esto es una prueba de contenido to guapo tio jejejej</p>
          <p>Y esto es otro parrafo chuloteh</p>
          <p>Y otro... ¿Por qué no? Es gratis...</p>
        </div>
        <div class="post_footer">
          <button><i class="fa fa-thumbs-o-up"></i></button>
          <button><i class="fa fa-thumbs-o-down"></i></button>
        </div>
      </article>
      {% endfor %}
    </section>

  </main>
<script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="js/js.js"></script>
</body>
</html>