<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
  <title>Main Page</title>
</head>
<body>

  <main>
    
    <header>

      <nav class="sup_navigation">
        <ul>
          <li class="menu_item"><span>Enviar</span></li>
          <li class="menu_item"><span>Moderar</span></li>
          <li class="menu_item"><span>Aleatorio</span></li>
        </ul>
      </nav>

      <button class="login_button">
        <span>LOGIN</span>
        <li class="fa fa-user space"></li>
      </button>

    </header>

  </main>

</body>
</html>